<template>
  <b-container class="mt-3">
    <h1>Messages</h1>
    <b-button @click.prevent="clear">Clear</b-button>
    <p v-for="(message, index) in messages">
      {{ message}}
    </p>
  </b-container>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    computed: mapGetters({
      messages: 'messages/messages'
    }),

    methods: {
      clear () {
        this.$store.commit('messages/clear')
      }
    }
  }
</script>
