<template>
  <b-navbar toggleable="lg" variant="primary" type="dark">
    <b-navbar-brand>Heroes-Nuxt</b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item to="/">Dashboard</b-nav-item>
        <b-nav-item to="/heroes">Heroes</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>
