<template>
  <div class="mt-3">
    <h1 class="text-center">
      Search Hero
    </h1>

    <vue-suggestion
      :items="heroes"
      v-model="hero"
      :setLabel="setLabel"
      :itemTemplate="searchTemplate"
      @changed="inputChange"
      @selected="itemSelected"
    >
    </vue-suggestion>

  </div>
</template>

<script>
  import { mapMutations, mapGetters } from 'vuex'
  import searchTemplate from './SearchTemplate'

  export default {
    data () {
      return {
        hero: {},
        heroes: [{}],
        searchTemplate,
      }
    },

    methods: {
      itemSelected (hero) {
        const link = '/heroes/' + hero.id
        this.$router.push(link)
      },

      setLabel (hero) {
        return hero.name
      },

      inputChange (text) {
        this.heroes = this.$store.getters['heroes/filterHero'](text)
        let message
        if (this.heroes.length == 0) message = 'no heroes matching ' + text
        else message = 'found heroes matching ' + text
        this.$pushMessage(message)
      }
    }
  }
</script>
