.vue-suggestion {
	width: 50%;
	max-width: 400px;
	margin: 0 auto;
	position: relative;
	.vs__input-group {
		.vs__input {
			width: 100%;
			display: block;
			margin: 0 auto;
			padding: 0.5rem 0.7rem;
			font-size: 0.9rem;
			line-height: 1.25;
			color: #464a4c;
			outline: none;
			background-color: #fff;
			background-image: none;
			background-clip: padding-box;
			border: 1px solid #cecece;
			border-radius: 0.25rem;
			transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
			&:focus {
				border: 1px solid #023d7b;
			}
		}
	}
	.vs__list {
		width: 100%;
		text-align: left;
		border: none;
		border-top: none;
		max-height: 400px;
		overflow-y: auto;
		border-bottom: 1px solid #023d7b;
		position: absolute;
		.vs__list-item {
			background-color: #fff;
			padding: 10px;
			border-left: 10px solid #023d7b;
			border-right: 1px solid #023d7b;
			cursor: pointer;
			&:last-child {
				border-bottom: none;
			}
			&:hover {
				background-color: #eee !important;
			}
		}
		.vs__list-item.vs__item-active {
			background-color: #f3f6fa;
		}
	}
	.vs__loading {
		position: absolute;
	}
}
