<template>
  <div>
    <NavigationBar></NavigationBar>
    <nuxt />
    <Messages></Messages>
  </div>
</template>

<script>
  import NavigationBar from '~/components/NavigationBar.vue';
  import Messages from '~/components/Messages.vue';

  export default {
    components: {
      NavigationBar,
      Messages
    }
  }
</script>
