<template>
  <div>
    <b-container class="bv-example-row mt-3">
      <h1 class="text-center">Top Heroes</h1>
      <b-row>
        <b-col v-for="(hero, index) in heroes" variant="secondary">
          <b-button variant="secondary" :to="'/heroes/'+hero.id">{{ hero.name }}</b-button>
        </b-col>
      </b-row>

      <SearchHero />
    </b-container>
  </div>
</template>

<script>
import SearchHero from '~/components/SearchHero.vue';
import { mapGetters } from 'vuex'

export default {
  components: {
    SearchHero,
  },

  async created () {
    await this.$pushMessage('fetch heroes')
  },

  computed: mapGetters({
    heroes: 'heroes/heroes'
  }),

}
</script>
