<template>
  <div>
    <b-container class="mt-3" v-if="hasHero">
      <h1>{{ hero.name }} Details</h1>
      <h6>id : {{ hero.id }}</h6>

      <b-form>
        <b-form-group label="Name : ">
          <b-form-input v-model="hero.name"></b-form-input>
        </b-form-group>

        <b-button variant="secondary" @click.prevent='back'>Back</b-button>
        <b-button variant="primary" @click.prevent='save'>Save</b-button>
      </b-form>
    </b-container>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    async created () {
      this.getHero()
    },

    data () {
      return {
        hero: {
          name: '',
          id: ''
        },
        hasHero: false
      }
    },

    methods: {
      save () {
        const hero = this.hero
        if (hero.name.trim()) {
          this.$store.commit('heroes/update', { hero })
          this.back()
        }
      },

      back () {
        this.$router.go(-1)
      },

      async getHero () {
        const id = this.$route.params.id
        const stateHero = await this.$store.getters['heroes/hero'](id)

        this.hasHero = !this._.isUndefined(stateHero)
        const msg = this.hasHero ? 'fetch heroes id=' + id : 'failed undefined'
        this.$pushMessage(msg)

        if (!this.hasHero) return
        this.hero.id = stateHero.id
        this.hero.name = stateHero.name
      }
    },
  }
</script>
