<template>
  <div>
    <b-container class="mt-3">
      <h1>My Heroes</h1>
      <b-form inline>
        <b-form-input placeholder="Enter Hero Name" v-model='name'></b-form-input>
        <b-button @click="addHero">ADD</b-button>
      </b-form>
      <b-table striped hover :items="heroes" :fields="fields" class="mt-3">
        <template v-slot:cell(edit)="row">
          <b-button :to="'/heroes/' + row.item.id">Edit</b-button>
        </template>
        <template v-slot:cell(delete)="row">
          <b-button variant="danger" @click.prevent='deleteHero(row.index)'>Delete</b-button>
        </template>
      </b-table>

    </b-container>
  </div>
</template>

<script>
  import { mapMutations, mapGetters } from 'vuex'

  export default {
    data () {
      return {
        name: '',
        fields: ['id', 'name', 'edit', 'delete']
      }
    },

    async created () {
      await this.$pushMessage('fetch heroes')
    },

    computed: mapGetters({
      heroes: 'heroes/heroes'
    }),

    methods: {
      addHero () {
        const name = this.name
        if (name.trim()) this.$store.commit('heroes/add', { name })
        this.name = ''
      },

      deleteHero (index) {
        this.$store.commit('heroes/delete', { index })
      }
    },
  }
</script>
